/*add your own home page css design*/
.maincont{
    display: grid;
    margin-top: 30px;
    grid-template-columns: auto auto ;
    align-items: center;
    justify-content: center;
    gap: 20px;
}
@media only screen and (max-width: 600px) {
    .maincont {
        display: flex;
        margin-top: 10px;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }
  }
/* .welcomemsg{
    padding: 30px 30px;
    display: flex;
    justify-content: center;
    color:white;
} */
.head{
    padding: 30px 30px;
    display: flex;
    justify-content: start;
    align-items: center;
    color:white;
    gap:10px;
    flex-direction: column;
}